@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
  display: grid; 
  grid-template-columns: 1fr 3fr; 
  grid-template-rows: 1fr 16fr 1fr; 
  gap: 12px 12px; 
  grid-template-areas: 
    "toparea toparea"
    "list content"
    ". endarea"; 
  min-height: 100vh;
  background-color: black;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Merriweather";
}

div#toparea {
  grid-area: toparea;
  border-top: solid black 30px;
}
main {
  grid-area: content;
}
nav.list { grid-area: list; }
footer { grid-area: endarea; }
header { grid-area: toparea; }




h1 {
  text-align: center;
}

p {
  max-width: 30rem;
  margin: 1rem auto 0;
}